{% extends "layouts/default.twig" %}

{% block content %}

<h1>Contact</h1>

{% if flash.success %}
    <div class="alert alert-success">{{ flash.success }}</div>
{% elseif flash.error %}
    <div class="alert alert-danger">{{ flash.error }}</div>
{% endif %}

<form action="{{ path_for('contact') }}" method="post">

    {{ csrf() }}

    <div class="form-group{% if flash.errors.name %} has-error{% endif %}">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ old.name }}" required>
        {% if flash.errors.name %} <span class="help-block">{{ flash.errors.name }}</span> {% endif %}
    </div>
    <div class="form-group{% if flash.errors.email %} has-error{% endif %}">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email" value="{{ old.email }}" required>
        {% if flash.errors.email %} <span class="help-block">{{ flash.errors.email }}</span> {% endif %}
    </div>
    <div class="form-group{% if flash.errors.message %} has-error{% endif %}">
        <label for="message">Message</label>
        <textarea class="form-control" name="message" id="message" required>{{ old.textarea }}</textarea>
        {% if flash.errors.message %} <span class="help-block">{{ flash.errors.message }}</span> {% endif %}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Send">
    </div>
</form>

{% endblock %}
